*{
    padding: 0%;
    margin: 0%;
    border: 0%;
    font-family: monospace;
}

body, html {
    height: 100%;
    background-color: #038ee5;
}

header{
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    /*display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;*/
}
.hea{
    display: flex;
}

.menu{
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
.menu ul {
    width: 50%;
    list-style: none;
   /* display: flex;
    flex-direction: row;*/
    justify-content: space-around;
  }

  .menu ul li {
    width: 100%;
  }
  .menu ul li a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font: bold 100% Arial, Helvetica, sans-seri;
    text-decoration: none;
  }

  .menu ul li a:hover{
        color: #038ee5;
  }

header>nav>h1 {
    padding: 15px;
    font-size: 3rem;
    width: 100%;
    /*box-sizing: border-box;
    display: inline;
  grid-template-columns: repeat(5, 1fr);*/
}

.footer{
    background-color: rgb(0, 0, 0);
	color: #ffffff;
	width: 100%;
	height: auto;
    text-align: center;
	}

    
.contenedor {
    padding:10px;
    margin: 10px 35px;
    display: flex;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    justify-content: flex-start;
}

.contenselec{
    border-radius: 15px;
    background-color: black;
    width: 50%;  
}
#caja1, #caja2, #caja3 {
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 20%;
    width: 200px;
    height: 200px;
    background-color: black;
    color:azure; 
}


.selecdepart{
    margin-top:10px;
    display: inline;
    padding: 5px;
    color: white;
    width: 40%;
    background-color: black;
    border-radius: 15px;
    border-color: #ffffff;
}

.footer{
  width: 100%;
  height: 100px;
  background-color: black;
}

.container--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr 1fr);
}
.imagen {
  width: 100%;
}
.imagen img {
  width: 100%;
  height: 100px;
  object-fit: column;
}